.card-box-item{
    background-color: plum;
}

.btn-bg-purple{
    background-color: #7267CB !important;
    font-size: 14px !important;
}

.btn-bg-purple:hover{
    background-color: #EAEAEA !important;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.bg-red-apps{
    background-color: #A90011 !important;
}

