.card-box-item{
    background-color: plum;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.bg-red-apps{
    background-color: #A90011 !important;
}

.btn-bg-apps{
    background-color: #A90011 !important;
    color: #EAEAEA;
}

.btn-bg-apps:hover{
    background-color: rgb(232, 76, 76) !important;
}
.btn-outline-apps{
    border-color: #A90011 !important;
    background-color: #EAEAEA !important;
    color: #A90011;
}
.btn-outline-apps:hover{
    background-color: #A90011 !important;

    color:white;
}

.carousel-indicators > button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.btn-outline-min{
    border-color: #7c7c7c !important;
    /* color: #A90011; */
    border-radius: 10px 0px 0px 10px;
}

.btn-outline-add{
    border-color: #7c7c7c !important;
    /* color: #A90011; */
    border-radius: 0px 10px 10px 0px;
}

.image-box-display{
    background-color: white; 
    height: 200px; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-self: center;
    border: 2px solid; 
    border-radius: 10px; 
    border-color: #A90011;
}

/*override bootstrap pagination theme*/
.pagination > li > a
{
    background-color: white;
    color: #A90011;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #A90011 !important;
    border: solid 1px #A90011 !important;
}

.page-item.active .page-link {
    color: #fff !important;
    background: #A90011 !important;
}