.card-box-item{
    background-color: plum;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.bg-red-apps{
    background-color: #A90011 !important;
}

.btn-bg-apps{
    background-color: #A90011 !important;
    color: #EAEAEA;
}

.btn-bg-apps:hover{
    background-color: rgb(232, 76, 76) !important;
}
.btn-outline-apps{
    border-color: #A90011 !important;
}
.btn-outline-apps:hover{
    background-color: #A90011 !important;
    color:white;
}

.carousel-indicators > button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}
